<h1>言葉データベース</h1>
<p>日本語の単語を収集・公開するサイトです。</p>

<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<p>
  <%= link_to t("words.index.title"), words_path %>
  <%= link_to t("searches.title"), search_path %>
</p>

<% if authenticated? %>
  <p>管理者としてログイン中です。</p>
  <p><%= link_to t("admin.words.title"), admin_words_path %></p>
  <%= button_to "ログアウト", session_path, method: :delete %>
<% else %>
  <%= link_to "管理者ログイン", new_session_path %>
<% end %>
